/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace module "com.webintelligence.parsec.components.module.*";
@namespace navigation "com.webintelligence.parsec.components.navigation.*";


/*
//--------------------------------------------------------------------------
//
//  PARSEC FRAMEWORK STYLES
//
//--------------------------------------------------------------------------
*/

/*
//--------------------------------------------------------------------------
//  MODULE LOADERS
//--------------------------------------------------------------------------
*/
module|ServiceModulesLoader
{
   loaderSkinClass:    ClassReference("com.webintelligence.parsec.components.skins.NonVisualModuleLoaderSkin");
}
module|UIModuleNavigator
{
   loaderSkinClass:    ClassReference("com.webintelligence.parsec.components.skins.ModuleViewLoaderSkin");
}

/*
//--------------------------------------------------------------------------
//  NAVIGATOR
//--------------------------------------------------------------------------
*/
navigation|UINavigator
{
   animatorClass:           ClassReference("com.webintelligence.parsec.components.navigation.animator.CutoffAnimator");
}

